@import url("https://fonts.googleapis.com/css2?family=Space+Mono:wght@700&display=swap");
* {
  font-family: "Space Mono", monospace;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.calculator-container {
  background-color: var(--White);
  padding: 35px;
  border-radius: 20px;
  width: 347px;
  margin: auto;
}

body {
  background-color: var(--Light-grayish-cyan);
  font-size: 24px;
}

.header__title {
  text-align: center;
  font-size: 1em;
  letter-spacing: 2px;
  padding: 20px;
  color: var(--Dark-grayish-cyan);
}

:root {
  --Strong-cyan: hsl(172, 67%, 45%);
  --Very-dark-cyan: hsl(183, 100%, 15%);
  --Dark-grayish-cyan: hsl(186, 14%, 43%);
  --Grayish-cyan: hsl(184, 14%, 56%);
  --Light-grayish-cyan: hsl(185, 41%, 84%);
  --Very-light-grayish-cyan: hsl(189, 41%, 97%);
  --White: hsl(0, 0%, 100%);
}

.inputs-section__bill-label {
  display: block;
  font-size: 0.75em;
  color: var(--Dark-grayish-cyan);
}

.inputs-section__bill-input {
  text-align: right;
  border: none;
  width: 100%;
  padding: 2px;
  padding-right: 10px;
  height: 48px;
  background-repeat: no-repeat;
  background-size: 12px;
  background-image: url(../images/icon-dollar.svg);
  background-position: 10px center;
  background-color: var(--Very-light-grayish-cyan);
  color: var(--Very-dark-cyan);
  font-size: 1em;
}

.inputs-section__bill-input:focus {
  outline: none;
  border: 2px solid var(--Strong-cyan);
}

.inputs-section__bill-input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

.btns {
  border: none;
  margin-top: 40px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 15px;
}

.btns__legend {
  font-size: 0.75em;
  color: var(--Dark-grayish-cyan);
  padding-bottom: 10px;
}

.btns__button {
  margin-bottom: 5px;
  height: 45px;
  width: 137px;
  font-size: 1em;
  border: none;
  border-radius: 5px;
  background-color: var(--Very-dark-cyan);
  color: var(--Very-light-grayish-cyan);
}
.btns__button--selected{
  background-color: var(--Strong-cyan);
  color: var(--Very-dark-cyan);
}
.btns__button:hover{
  background-color: var(--Strong-cyan);
  color: var(--Very-dark-cyan);
  cursor: pointer;
  transition: 0.1s;
}

.btns__custom {
  text-align: center;
  border: none;
  width: 100%;
  padding: 2px;
  padding-right: 10px;
  height: 48px;
  background-color: var(--Very-light-grayish-cyan);
  font-size: 0.75em;
}

.btns__custom:focus {
  outline: none;
  border: 2px solid var(--Strong-cyan);
}

.btns__custom::-webkit-inner-spin-button {
  -webkit-appearance: none;
}
.number-of-people{
  margin-top: 5px;
  margin-bottom: 10px;
}
.inputs-section__people-label{
  font-size: 0.75em;
  
  color: var(--Dark-grayish-cyan);
}
.inputs-section__people-input{
  text-align: right;
  border: none;
  width: 100%;
  padding: 2px;
  padding-right: 10px;
  height: 48px;
  background-repeat: no-repeat;
  background-size: 12px;
  background-image: url(../images/icon-person.svg);
  background-position: 10px center;
  background-color: var(--Very-light-grayish-cyan);
  color: var(--Very-dark-cyan);
  font-size: 1em;
}
.inputs-section__people-input:focus{
  outline: none;
  border: 2px solid var(--Strong-cyan);
}

.inputs-section__people-input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}
.result-container{
  background-color: var(--Very-dark-cyan);
  border-radius: 18px;
  display: flex;
  flex-direction: column;
  padding: 42px 24px 24px;
  margin-top: 15px;
}
.results{
 display: grid;
 grid-template-columns: 1fr 1fr;
 
 
}
.results div{
  font-size: 0.75em;
}
.results__total-person, .results__tip-person{
  font-size: 0.75em;
  color: var(--Dark-grayish-cyan);
  
}
.results__tip-amount, .results__total-amount{
  color: white;
  font-size: 1em;
}
.results__tip-value{
  font-size: 1.4em;
  color: var(--Strong-cyan);
  text-align: right
}
.results__tip-total{
  font-size: 1.4em;
  color: var(--Strong-cyan);
  text-align: right
}
.results__btn{
  
  border: none;
  background-color: var(--Strong-cyan);
  cursor: pointer;
  height: 40px;
  margin-top: 20px;
  font-size: 0.75em;
  color: var(--Very-dark-cyan);
  border-radius: 5px;
}
.results__btn:hover{
  background-color: var(--Light-grayish-cyan);
  transition: 0.1s;
}
@media (min-width: 1440px){
  .header__title{
    margin: 100px 0 80px;
  }
  .calculator-container{
    width: 930px;
    height: 500px;
    display: flex;
  }
  .btns{
    grid-template-columns: 1fr 1fr 1fr;
    
  }
  .inputs-section{
    width: 50%;
    
    margin-left: 10px;
    padding-right: 40px;
  }
  .btns__button{
    width: 115px;
    margin-bottom: 0;
    height: 50px;
  }
  .number-of-people{
    margin-top: 40px;
  }
  .result-container{
    width: 100%;
    padding: 40px;
  }
  .results__btn{
    margin-top: 140px;
    height: 50px;
    font-size: 1em;
  }
  .results__tip-value{
    font-size: 2em;
    
  }
  .results__tip-total{ 
    font-size: 2em;
  }
  .results{
    align-items: center;
  }
  
}


/*# sourceMappingURL=style.css.map */
